# macOS-specific files
.DS_Store
Thumbs.db
# generated outputs
.astro/
/*.gr.wasm
db.json

# build output
dist/

# generated outputs
.astro/
/*.gr.wasm

# dependencies
node_modules/
.deploy*/
_multiconfig.yml

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# environment variables
.env
.env.production

